.body-register
  .header
    .header__icon
      = link_to image_tag("/assets/logo/logo.png", class: "header__icon__image"), "/"
      .header__status
      .header__status__line
        .header__status__line__menber
          会員情報
          .header__status__line__menber__box
        .header__status__line__number
          電話番号認証
          .header__status__line__number__box
        .header__status__line__address
          お届け先住所入力
          .header__status__line__address__box
        .header__status__line__pay
          支払い方法
          .header__status__line__pay__box
        .header__status__line__done
          完了
          .header__status__line__done__box