.credit-create{
  height: 107px;
  width: 572px;
  text-align: center;
  }
  .credit-create-btn{
    height: 50px;
    width: 320px;
    margin-top: 20px;
    background-color:  #3CCACE;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    }
    .credit-card{
      margin-right: 5px;
  }