.main__right-logout{
  height: 180px;
  width: 700px;
  background-color: #ffffff;
  position: relative;
  }
  .main__right-logout-btn{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    }
    .main__right-logout-tab{
      height: 50px;
      width: 320px;
      background-color: red;
      text-align: center;
      position: absolute;
      top: 65px;
      left: 190px;
      }