.card-register-wrapper {
  background-color: $color-form;
  width: 700px;
  float: right;
  .card-header {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid $color-background;
    text-align: center;
    font-weight: bold;
  }
  .card-info {
    padding: 64px;
    .card-list {
      font-size: 16px;
      font-weight: bold;
      max-width: 320px;
      margin: 0 auto;
    }
    .card-contents {
      display: flex;
      justify-content: flex-start;
      padding: 24px 0;
      max-width: 320px;
      margin: 0 auto;
      .card-content {
        &__card-register {
          margin: 8px 0 0;
          font-size: 16px;
        }
        &__card-dead {
          margin: 8px 0 0;
          font-size: 16px;
        }
      }
      .card-button {
        margin-left: 100px;
        button {
          padding: 2px 6px;
          background: #fff;
          border-radius: 3px;
          border: 1px solid #ea352d;
          color: #ea352d;
        }
      }
    }
  }
}