.bread-crumbs {
  width: 100%;
  height: 55px;
  background-color: #fff;
  border-top: 1px solid $color-tableback;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 200px;
  line-height: 55px;
  a {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    text-decoration: none;
  }
  span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
  }
}