.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(112, 38, 38, 0.16);
  padding: 16px;
  text-decoration: none;
  a {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    text-decoration: none;
  }
  span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
  }
}