$color-background: rgb(245, 245, 245);
$color-form: #fff;
$color-form-border: #CCC;
$color-required: #ea352d;
$color-Any: #bfbfbf;
$color-table: #f8f8f8;
$color-tableback: #eee;
$color-tablesolid: #dedede;

$color-usersolid: #ddd;
$color-userbtn: #38aef0;
$color-usererror: #d65f4c;

