.main-signin {
  .header{
    background-color: #EEEEEE;
    width: 100%;
    height: 130px;
    &__logo{
      margin: 0 auto;
      text-align: center;
      height:50px;
      line-height:160px;
      vertical-align: middle;
      width: 200px;
    }
  }
  .main {
    background-color: #EEEEEE;
    width: 100%;
    height: 800px;
    &__login {
      margin: 0 auto;
      width:450px;
      height: 800px;
      background-color: #ffffff;
      &__account {
        border-bottom: solid 1px lightgray;
        padding: 40px 65px;
        text-align: center;
        }
      &__inner {
        padding: 32px 64px;
      }
      &__bottom {
        background-color: red;
        width:450px;
        height: 465px;
        padding: 24px 64px 32px;
      }
    } 
    }
  }