.formError {
  opacity: 1 !important;
  position: absolute;
  top: 457.128px;
  left: 541.597px;
  margin-top: -36px;
.formErrorContent {
    background: #ea352d !important;
    position: relative;
    color: #fff;
    width: 100px !important;
    font-size: 11px;
    border: 2px solid #fff !important;
}
}