.user-container
  .user-container-header
    %h1.user-container-header__left
      =link_to root_path, class: "signup-home-link" do
        = image_tag asset_path('logo/logo.png'), size: "189x49", alt: "Frima", class: "image"
    %nav.user-signup-bar
      %ol.user-signup-bar-position3
        %li.user-signup-bar-position3__type
          会員情報
          .user-signup-bar-position3__rod-green-first
        %li.user-signup-bar-position3__type
          電場番号認証
          .user-signup-bar-position3__rod-green
        %li.user-signup-bar-position3__type-green
          お届け先住所入力
          .user-signup-bar-position3__rod-green-middle
        %li.user-signup-bar-position3__type
          完了
          .user-signup-bar-position3__rod-last
