.login-footer
  %ul
    %li
      プライバシーポリシー
    %li
      フリマ利用規約
    %li
      特定商取引に関する表記
  = image_tag asset_path('/assets/logo/logo-white.png'), alt: "Frima", class: "logo-white"
  .Inc
    © Frima, Inc.