.apBanner {
  padding: 100px 40px;
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    text-align: center;
    &__title {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__text {
      color: white;
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__button {
        margin: 0 10px 0 0;
      }
    }
  }
}

.top-footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }

  &__logo {
    vertical-align: bottom;
  }
  &__copyright {
    font-size: 14px;
  }
 
  &__exhibit {
    width: 120px;
    background-color: #3CCACE;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 4%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    &__pic {
      margin-top: 5px;
    }
  }
}