* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.top {
  width: 100%;
  &__header {
    max-width: 1040px;
    width: 100%;
    min-width: 82px;
    margin: 0 auto;
    &__inner {
      padding: 15px 0 0;
      display: flex;
      &__title {
        padding-bottom: 10px;
        margin-right: 30px;
        font-size: 30px;
      }
      &__searchBox {
        width: calc(100% - 26px);
        height: 36px;
        padding: 0 0 0 5px;
        font-size: inherit;
      }
      &__button {
        width: 44px;
        height: 36px;
        background-color: #3CCACE;
      }
    }
    &__menu {
      margin-bottom: 14px;
      display: flex;
      font-size: 14px;
      &__left {
        display: flex;
        &__list {
          line-height: 32px;
          padding-right: 30px;
          &:last-of-type {
            padding-left: 16px;
          }
        }
      }
      &__right {
        display: flex;
        margin-left: auto;
        &__list {
          line-height: 32px;
          padding-left: 16px;
        }
      }
    }
  }


  &__main {
    width: 100%;
    height: 560px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    color: white;
    background-image: url(/assets/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        font-size: 60px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text {
        margin: 16px 0 0 0;
        font-size: 18px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__list {
        margin: 24px 0 0 0;
        display: flex;
        &__button {
          width: 180px;
          margin: 0 10px 0 0;
        }
      }
    }
  }


  &__nav {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__content {
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      text-align: center;
      &__list {
        width: 30%;
        margin: 16px 5% 0 0;
        &__pic {
          width: 306px;
          height: 306px;
          position: relative;
          span {
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &__subtitle {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__text {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }


  &__apImage {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url(/assets/pict/bg-topMiddleDl-pict.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    &__inner {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__subtitle {
        color: white;
        font-size: 27px;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text {
        color: white;
        font-size: 18px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 20px 0 30px;
      }
      &__list {
        display: flex;
        &__button {
          margin: 0 10px 0 0;
        }
      }
    }
  }


  &__service {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__content {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      &__list {
        width: 30%;
        margin: 16px 5% 0 0;
        &__pic {
          text-align: center;
        }
        &__subtitle {
          font-weight: bold;
          font-size: 19px;
          line-height: 50px;
          margin: 0 0 0 2px;
          text-align: center;
        }
        &__text {
          font-size: 17px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }


  &__product {
    background-color: #f8f8f8;
    &__category {
      width: 780px;
      margin: 26px auto;
      padding: 80px 0 0 0;
      &__title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      &__link {
        color: #3CCACE;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      &__list {
        display: flex;
        justify-content: space-around;
      }
    }

    &__brand {
      width: 780px;
      margin: 26px auto;
      padding: 80px 0;
      &__title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      &__link {
        color: #3CCACE;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      &__list {
        display: flex;
        justify-content: space-around;
      }
    }
  }


  &__apBanner {
    padding: 100px 40px;
    background-image: url(pict/bg-appBanner-pict.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    &__inner {
      text-align: center;
      &__title {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text {
        color: white;
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon {
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        &__button {
          margin: 0 10px 0 0;
        }
      }
    }
  }


  &__footer {
    color: white;
    background-color: #272727;
    text-align: center;
    padding: 60px;
    &__contents {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      &__content {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        &__head {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        &__lists {
          &__list {
            font-size: 12px;
            line-height: 32px;
            a {
              color: #fff;
              text-decoration: none;
              &:hover {
                border-bottom: solid 1px white;
              }
            }
          }
        }
      }
    }
    &__logo {
      vertical-align: bottom;
    }
    &__copyright {
      font-size: 14px;
    }
  }
  &__exhibit {
    width: 120px;
    background-color: #3CCACE;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 4%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    &__pic {
      margin-top: 5px;
    }
  }
}