* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.details-header {
  width: 100%;
  height: 55px;
  background-color: #fff;
  border-top: 1px solid $color-tableback;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li{
      padding: 0 10px 0 0;
      float: left;
      display: list-item;
      text-align: -webkit-match-parent;
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}


.product-details-wrapper {
  padding: 40px;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background: $color-background;
  form {
    width: 700px;
    margin: 0 auto;
    .product-box {
      width: 100%;
      padding-bottom: 20px;
      background-color: $color-form;
      padding: 24px 40px 40px;
      .product-name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      &__photo {
        margin: 16px 0 0;
        ul {
          display: flex;
          position: relative;
          li {
            display: flex;
            flex-direction: column;
            width: 560px;
            align-items: center;
            margin: 0 auto;
            img {
              object-fit: cover;
              height: 346px;
            }
            ul {
              display: flex;
              justify-content: center;
              margin-top: 10px;
              li {
                width: 25%;
                margin: 0 10px 0 0;
                img {
                  object-fit: cover;
                  height: 87px;
                }
              }
            }
          }
        }
      }
      
      .product-price-box {
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        &__product-price {
          span {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
        }
        &__product-tax {
          span {
            font-size: 16px;
          }
        }
      }
      .product-edit {
        display: flex;
        justify-content: center;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        font-weight: 600;
        margin: 24px 0 24px;
        &__edit-btn {
          background-color: $color-required;
          width: 290px;
          margin-right: 10px;
          color: $color-form;
          text-decoration: none;
        }
        &__delete-btn {
          background-color: $color-required;
          width: 290px;
          margin-left: 10px;
          color: $color-form;
          text-decoration: none;
        }
      }
      .product-description-box {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .product-information {
        margin-bottom: 20px;
        table {
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid $color-table;
          tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            th {
              width: 20%;
              background-color: $color-tableback;
              font-weight: 400;
              padding: 8px;
              border: 1px solid $color-tablesolid;
              font-size: 14px;
              text-align: center;
            }
            td {
              width: 61%;
              padding: 15px 15px;
              border: 1px solid $color-tablesolid;
              font-size: 14px;
              a {
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }
        }
      }
      .product-option {
        display: flex;
        justify-content: space-between;
        &__favorite {
          margin: 10px 0 0;
          display: flex;
          &__btn {
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;
          }
        }
        &__report {
          margin: 10px 0 0;
          display: flex;
          font-size: 14px;
          a {
            text-decoration: none;
            color: #000;
          }
          &__btn {
            padding: 6px 10px;
            display: inline-block;
            border-radius: 4px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
          }
        }
      }
    }

    .comment-box {
      padding: 24px;
      background-color: $color-form;
      margin: 10px 0;
      text-align: center;
      textarea {
        width: 100%;
        min-height: 104px;
        padding: 10px;
      }
      .comment-note {
        padding: 8px;
        font-size: 14px;
        background-color: $color-table;
        margin: 10px 0;
        text-align: left;
      }
      .comment-btn {
        font-size: 18px;
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: $color-form;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
      }
    }
  }
  .product-links {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: #3CCACE;
    }
    .Previous {
      content: "";
      display: block;
    }
    .rear {
      content: "";
      display: block;
    }
  }
  .product-relat {
    content: "";
    clear: both;
    display: block;
    a {
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
  img {
    width: 100%;
    vertical-align: bottom;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
}